::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  will-change: clip-path;
}

::view-transition-group(root) {
  animation: none;
}

::view-transition-new(root) {
  z-index: 1;
}

::view-transition-old(root) {
  z-index: 2;
}

.dark::view-transition-old(root) {
  z-index: 1;
  animation: none;
}

.dark::view-transition-new(root) {
  z-index: 2;
}
